*

!.gitignore
!.zshrc
!.zprofile
!Dockerfile

!.config
.config/*

!.config/tmux
.config/tmux/*
!.config/tmux/tmux.conf

!.config/alacritty
.config/alacritty/*
!.config/alacritty/alacritty.yml

!.config/ranger
.config/ranger/*
!.config/ranger/rc.conf

!.config/iterm2
.config/iterm2/*
!.config/iterm2/com.googlecode.iterm2.plist

!.scripts
.scripts/*
!.scripts/fzfbookmarks.sh
!.scripts/README.md
