*

!.gitignore
!.zshrc
!.zprofile
!.p10k.zsh
!Dockerfile
!README.md

!.config
.config/*

!.config/tmux
.config/tmux/*
!.config/tmux/tmux.conf

!.config/alacritty
.config/alacritty/*
!.config/alacritty/alacritty.yml
!.config/alacritty/themes
.config/alacritty/themes/*
!.config/alacritty/themes/themes
.config/alacritty/themes/themes/*
!.config/alacritty/themes/themes/github_dark.yaml
!.config/alacritty/themes/themes/github_dark.toml

!.config/ranger
.config/ranger/*
!.config/ranger/rc.conf

!.config/iterm2
.config/iterm2/*
!.config/iterm2/com.googlecode.iterm2.plist

!.scripts
.scripts/*
!.scripts/fzfbookmarks.sh
!.scripts/README.md
