*

!.gitignore
!.zshrc

!.config
.config/*

!.config/alacritty
.config/alacritty/*
!.config/alacritty/alacritty.yml

!.config/ranger
.config/ranger/*
!.config/ranger/rc.conf

!.scripts
.scripts/*
!.scripts/fzfbookmarks.sh
